*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;

}
#body{
    background-color: rgba(218, 220, 221, 0.788);
}
.banner{
    width: 100%;
    height: 200vh;
    background-image: url(image0.jpeg);
    background-color: rgba(218, 220, 221, 0.788);
    background-size: cover;
    background-position: center;
    left: 0px;
    top: 0px;
    z-index: -1
}
.navbar{
    width: 85;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0%;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: blueviolet;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: purple;
    position:absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
#body{
    background-color: rgba(0, 255, 255, 0.521);
}
h1{
    color: blueviolet;
    font-size: large;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    background-color: rgb(154, 243, 161);
    width: 20%;
    margin: auto;
}
h3{
    color: blueviolet;
    font-size: large;
    font: 300;
    text-align: center;
}
p{
    text-align: center;
    font-size: medium;
    color: rgba(133, 129, 124, 0.74);
}
#ul{
    font-style: italic;
    text-align: center;
    width: 10%;
    margin: auto;
    color: rgba(133, 129, 124, 0.74);
    background-color: aqua;
}
a{
    color: purple;
    text-align: center;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
#form{
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-color: black;
    border-style: groove;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 10px;
}
#form:hover{
    background-color: rgb(235, 104, 235);
}
#input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
input[type=text]:focus{
    border: inherit;
    background-color: rgb(235, 228, 228);
}
input[type=button]:hover{
    border: inherit;
    background-color: rgba(59, 89, 224, 0.411);
}
input[type=number]:focus{
    border: inherit;
    background-color: rgb(224, 221, 228);
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
table{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7.75%;
}